DATABASE_URL=postgresql://postgres:YOUR-PASSWORD@YOUR-PROJECT-REF.supabase.co:5432/postgres
ADZUNA_APP_ID=your-adzuna-app-id
ADZUNA_APP_KEY=your-adzuna-app-key
ANTHROPIC_API_KEY=sk-ant-your-real-key-here
VOYAGE_API_KEY=your-voyage-api-key-here
